h1 {
  color: red;
  font-size: 32px;
  margin: 50px 25px; /* top, right, bottom, left */
  background-color: gray;
  padding: 25px 50px;
}

#personal {
  /* background-color: steelblue; */
}

.bg-red {
  background-color: red;
  height: 100vh;
  max-height: 400px;
  min-height: 200px;
  width: 50%;
  float: left;
}

h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: cursive;
  text-align: center;
}

button {
  display: block;
  margin: 25px auto;
}

img {
  display: block;
  margin: 25px auto;
  border: 5px solid black; /* width, style, color */
}

#last_name {
  display: inline-block;
  width: 50%;
  font-size: 120%;
  color: blue;
}

ol li {
  color: white;
}

th[colSpan="3"] {
  /* font-size: 250px; */
}
